html {
    position: relative;
    min-height: 100%;
    color: #000;
    font-family: "Times New Roman";
}
body {
    /* Margin bottom by footer height */
    background: none;
}
header {
    margin: 10px 0;
}

.menu-row {
    margin-bottom: 20px;
}
.menu-item,
.menu-item-active,
.menu-item:visited,
.menu-item-active:visited,
.menu-item:hover,
.menu-item-active:hover {
    display: inline-block;
    width: 153px;
    margin: 0 3px;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    box-shadow: #575858 0 0 2px;
}
.menu-item {
    background: linear-gradient(to top, #C5C6C6, #ffffff, #C5C6C6);
}
.menu-item-active {
    background: linear-gradient(to top, #E31E24, #F5B2B6, #E31E24);
}
.question {
    width: 100%;
    margin: 0;
    border-radius: 3px;
    text-align: center;
    border: 1px #000 solid;
}
.question p {
    margin-bottom: 3px;
}
.question button {
    display: inline-block;
    margin: 0 15px;
    border-radius: 1px;
    text-align: center;
    padding: 0 4px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: #575858 0 0 2px;
}
.question button,
.question button:hover {
    color: #fff;
}
.question button.btn-yes {
    background: radial-gradient(#F5B2B6, #E31E24);
}
.question button.btn-no {
    background: radial-gradient(#A2D9F7, #56698F);
}
.btn-input,
.btn-input:hover,
.btn-input:visited {
    width: 100%;
    margin: 0;
    border-radius: 3px;
    text-align: center;
    padding: 15px 10px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    box-shadow: #575858 0 0 2px;
    background: linear-gradient(to top, #E31E24, #F5B2B6, #E31E24);
}
.news-articles {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    box-shadow: #575858 0 0 2px;
    background: linear-gradient(to top, #C5C6C6, #ffffff, #C5C6C6);
    height: 250px;
}
.news-articles h2{
    margin: 5px 0;
}
.header-img {
    width: 100%;
}
.header-phone {
    color: #000;
    text-align: center;
    font-weight: bold;
}
.header-search {
    border-radius: 3px;
    background-color: #000;
    padding: 4px;
    margin: auto;
}
.header-search .input-group {
    width: 80%;
    float: left;
}
.header-search .btn-warning {
    width: 20%;
    background-color: #FFED00;
    color: #E31E24;
    font-weight: bold;
}
.header-search input[type=text],
.header-search button {
    border-color: #000;
    display: inline-block;
}
.category-btns a {
    display: inline-block;
    width: 156px;
    margin: 0 3px;
    border-radius: 5px;
    background-color: #E31E24;
    height: 40px;
    padding: 5px;
    text-align: center;
}
.category-btns a img {
    height: 100%;
}
.catalog-list {
    background-color: #727271;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
}
.catalog-list h3 {
    color: #fff;
    margin: 5px 0;
}
.catalog-list a,
.catalog-list a:hover,
.catalog-list a:visited {
    display: block;
    background: linear-gradient(to top, #727271, #E31E24);
    padding: 6px 4px;
    color: #fff;
    margin: 1px 0;
    font-size: 16px;
}
.cards, .accounts {
    border-radius: 5px;
    text-align: center;
    border: #898989 solid 2px;
    background-color: #D9DADA;
    margin-top: 10px;
}
.accounts {
    padding: 8px 0;
}
.cards-title {
    background-color: #E31E24;
    color: #fff;
    font-size: 10px;
    margin-bottom: 3px;
}
.cards-list img {
    width: calc(100% - 4px);
    margin: 2px;
}
.accounts img {
    width: calc(80% - 4px);
    margin: 2px;
}
.market {
    background-image: url("/public/i/market_fon.png");
    background-repeat: repeat;
    border-radius: 5px;
}
.market-content {
    min-height: 660px;
    padding-top: 20px;
}
footer {
    padding-bottom: 10px;
}
footer h2 {
    color: #000;
}
.last-see-items-row {
    width: 100%;
    min-height: 250px;
}
.item-thumb-parent {
    margin: 10px 30px;
    padding: 0;
    text-align: center;
}
.item-thumb {
    border-radius: 5px;
    text-align: center;
    border: #000 solid 2px;
    background-color: #fff;
    min-height: 150px;
    width: 100%;
}
.like {
    color: #E31E24;
    font-size: 12px;
    margin-top: 3px;
}
.like img {
    width: 20px;
}
.btn-sale {
    background: #E31E24;
    color: #fff;
    margin-top: 5px;
}
.btn-sale img {
    width: 15px;
}
.pagination-row {
    background: #898989;
    color: #fff;
    padding: 3px 20px 3px 0;
    text-align: right;
}
.btn-pagination {
    padding: 4px 10px;
    background: #2B2A29;
    color: #fff;
    border: none;
    margin: 0 1px;
}
.footer-warning {
    color: #fff;
    border-radius: 5px;
    text-align: justify;
    background: #000;
    width: 90%;
    margin: auto;
    padding: 7px 20px;
}
.footer-warning h4{
    margin-bottom: 30px;
    padding: 10px 0;
}
.footer-warning img{
    width: 50px;
    margin: 10px;
    margin-top: -5px;
}